 <div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">购物车</h3>
  </div>
  <div class="panel-body">
      <div ng-repeat="shop_goods_list in cart.goods_list">
        <ul>
          <li ng-repeat="cart_goods in shop_goods_list">
            <span class="goods-name">{{cart_goods.name}}</span>
            <span class="goods-price">{{cart_goods.price | currency:"RMB "}}</span>
            <a href="" ng-click="removeCart(cart_goods)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        </ul>
      </div>

    <button class="btn btn-default btn-block">结账</button>
      <button class="btn btn-warning btn-block" ng-click="clearCart()">清空购物车</button>
  </div>
</div>
