<div>
  <div ng-repeat="shop in shops">
    <h2>{{shop.title}}</h2>
    <ul>
      <li ng-repeat="goods in shop.goods_list">
        {{goods.name}}
        <a href="" ng-click="addCart(goods)">加入购物车</a>
      </li>
    </ul>
  </div>

  <div>
    <h2>购物车</h2>
    <ul>
      <li ng-repeat="cart_goods in cart.goods_list track by $index">
        {{cart_goods.name}}
        <a href="" ng-click="removeCart(cart_goods)">删除</a>
      </li>
    </ul>

    <button class="btn" ng-click="clearCart()">清空购物车</button>
  </div>
</div>
